In [2]:
print("Hola Mundo")

Hola Mundo

# Operadores aritméticos

Los operadores aritméticos son los que nos permiten cosas sencillas, como sumas, restas, multiplicaciones, divisiones, etc.

In [12]:
print(1 + 2 + 3)

print(10 - 9)

print(12 * 3)

print(11 / 2)

print(11 // 2)

11 % 2

2 + 2

6
1
36
5.5
5

4

In [16]:
2 +               1 *        10 
2 + 1 * 10

12

In [23]:
print(2 * 2 + 12 / 2 - 1) # 9

9.0

'\nasd\n'

## Variable

In [24]:
numero1 = 10

print(numero1)

10

## Crear dos variables, asignar valores numéricos, y sumar los valores

In [25]:
numero1 = 11
numero2 = 22

print(numero1+numero2)

33

In [26]:
numero1 = 20
numero2 = 30

suma = numero1 + numero2

print(suma)

50

In [27]:
numero1 = 10
numero2 = 20

numero3 = (numero1 + numero2)

print(numero3)

30

## Reglas para identificadores (nombres de variables)

- No puede comenzar con un número
- Siempre debe estar en minúsculas
- Si nuestro identificador tiene más de una palabra, separamos las palabras con guiones bajos: `suma_citrica`.

---

## Tipos de datos: primitivos

### Números enteros (integers, int)

### Números de punto flotante, decimales (floats)

In [ ]:
# Números enteros
1
12
256

# Números decimales (floats)
3.14 # Pi
1.99
100.123

## Cadena de caracteres: texto, strings

In [28]:
print("Hola Mundo")

Hola Mundo

## Booleanos

In [30]:
es_vegetariano = True
come_carne = False

print(es_vegetariano)
print(come_carne)

True
False

---

## Jugando con cadenas de caracteres (texto)

In [31]:
nombre = 'Enmanuel'
apellido = "Ruffinelli"

print(nombre)
print(apellido)

Enmanuel
Ruffinelli

## Sumar textos = Concatenación

In [41]:
nombre = 'Enmanuel'
apellido = "Ruffinelli"

print(nombre + apellido)

print(nombre + apellido + "," )
print(nombre , apellido)
print(nombre + " " + apellido)
print(nombre,apellido)

EnmanuelRuffinelli
EnmanuelRuffinelli,
Enmanuel Ruffinelli
Enmanuel Ruffinelli
Enmanuel Ruffinelli

### Ejercicio 

Crear tres variables, `nombre`, `apellido`, `edad`, y concatenar la frase final. Frase final: Hola. Mi nombre es Fulano de Tal. Mucho gusto. Y tengo X años.

In [2]:
nombre = "Costanza"
apellido = "Caligari"
edad = 24


print("Hola. Mi nombre es " + nombre + " " + apellido + ". Mucho gusto. Tengo " + edad)

TypeError: can only concatenate str (not "int") to str

In [43]:
nombre = "Rafael"
apellido = "Escobar"
nombre_completo = nombre+apellido
edad = "16"
saludo = "Hola"
z = "mi nombre es" + " " + nombre_completo
c = ", mucho gusto"
v = "y tengo" + " " + edad + " " + "años"

print(saludo + " " + z + " " + c + " " + v)

Hola mi nombre es RafaelEscobar , mucho gusto y tengo 16 años

---

## Convirtiendo datos a un tipo diferente

In [61]:
# Primer ingreso de numero
numero1 = int(input("Escriba un numero, por favor: "))
print(numero1)

# Segundo ingreso de numero
numero2 = int(input("Escriba otro numero, por favor:"))
print(numero2)

# Tipo de variable
# print(type(numero1))
# print(type(numero2))

# Conversión de tipo de dato
# numero1 = int(numero1)
# numero2 = int(numero2)

# Suma de ambas variables
print(numero1 + numero2)

10
20
30

## Número a texto

In [65]:
frase_pi = "El valor de Pi es "
valor_pi = 3.141592

print(frase_pi + str(valor_pi))

El valor de Pi es 3.141592

### Ejercicio

Solicitar por teclado al usuario los siguientes datos: nombre, apellido, año de nacimiento. En pantalla: "Mi nombre es X, y tengo X anhos"